---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HeroSlider from '../components/HeroSlider.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 100%;
				max-width: initial;
				margin: initial;
				padding: initial;
				max-height: 100vh;
    		overflow: hidden;
			}
		</style>
	</head>
	<body>
		<Header color='white' />
		<main>
			<HeroSlider />
		</main>
	</body>
</html>
