---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, color, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style define:vars={{ color: color ?? 'black' }}>
	a {
		color: var(--color);
		font-size: 1rem;
		font-weight: 300;
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		text-decoration: underline var(--color);
	}
</style>
