---
const slides = [
  { src: '/blog-placeholder-1.jpg', alt: 'Slide 1' },
  { src: '/blog-placeholder-2.jpg', alt: 'Slide 1' },
  { src: '/blog-placeholder-3.jpg', alt: 'Slide 1' },
  { src: '/blog-placeholder-4.jpg', alt: 'Slide 1' },
  { src: '/blog-placeholder-5.jpg', alt: 'Slide 1' },
];
---

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    display: inline-flex;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-buttons {
    position: relative;
    top: -25vh;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    pointer-events: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    pointer-events: all;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
</style>

<div class="swiper fullscreen-swiper">
  <div class="swiper-wrapper">
    {slides.map((slide) => (
      <div class="swiper-slide">
        <img src={slide.src} alt={slide.alt} loading="lazy" />
      </div>
    ))}
  </div>
  <div class="swiper-buttons">
    <div class="swiper-button-prev">
      &#8592;
    </div>
    <div class="swiper-button-next">&#8594;</div>
  </div>
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';

  // Initialize Swiper after the component has been mounted
  new Swiper(".fullscreen-swiper", {
    modules: [Navigation],
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<style>
  /* Optional styling for your slider */
  .swiper-container {
    width: 100%;
    height: 400px;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
