---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Slider from '../components/Slider.astro';

type Props = CollectionEntry<'categories'>['data'];

const data = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={data.title} description={data.description ?? ''} />
		<style>
			main {
				width: calc(100% - 5em);
				max-width: 100%;
				margin: 0 auto;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<Slider {...data} />
		</main>
	</body>
</html>
